.about-wrapper{
    padding: 5rem;
}

.about-header{
    text-align: center;
    padding: 2rem;
    font-size: 2em;
    font-weight: 700;    
}

.about-container{
    max-width: 80rem;
    min-width: 15rem;
    border-radius: 8px;
    background-color: blueviolet;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-container >*{
    flex: 1;
}

img{
    width: 100%;
    border-radius: 8px;
   
}

.img-container{
    max-width: 25rem;
    min-width: 15rem
}

.about-content{
    max-width: 25rem;
    min-width: 14rem;
    padding: 1rem;
}

@media screen and (max-width: 960px){
    .content-img-container{
        display: none;
    }
    }


@media screen and (max-width: 450px ){
    .about-content p {
        font-size: .7em;
    }
}