.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;

  }
  
  .slide-container {
    border-radius: 16px;
    padding: 20px;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.1);
    background-color: #9e3b99;
    width: 80%; /* Adjust based on your needs */
    max-width: 600px; /* Adjust based on your needs */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-info{
    display: flex;
    flex-direction: column;
    
    
  }


  .project-links{
    
  }

  .project-links a{  
    background-color: cadetblue;
    padding: .5rem;
    border-radius: 6px;    
    box-shadow: inset 2px 2px 8px rgba(0,0,0,0.6);
  }
  
